<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/827a7a53-89b2-41ca-b716-cc4b0eed4615/resourceGroups/fa21HW5/providers/Microsoft.Web/sites/DarrenHuang</ResourceId>
    <ResourceGroup>fa21HW5</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://darrenhuang.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>darrenhuang.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DarrenHuang</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DarrenHuang</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>