<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/11e4e78d-3f10-461d-9018-1b57a9d2c199/resourceGroups/fa20MIS333kHW/providers/Microsoft.Web/sites/fa21HuangDarrenHW1</ResourceId>
    <ResourceGroup>fa20MIS333kHW</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://fa21huangdarrenhw1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>fa21huangdarrenhw1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fa21HuangDarrenHW1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fa21HuangDarrenHW1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>