<!DOCTYPE html>
<html>

<head>
    <title>About Me</title>
</head>

<body>
    <div class="text-center">
        <br />
        <h2>About Me</h2>
        <p>Just a couple things about me.</p>
        <hr class="hr-danger" />
    </div>

    <div class="container">
        <h3>Early Life and Family</h3>

        <div class="row">
            <div class="column">
                <figure style="width:100%">
                    <img src="/images/family.jpeg"
                         alt="Family" title="Family" style="width:100%; height:auto" />
                    <figcaption>My Family</figcaption>
                </figure>
            </div>
            <div class="column">
                <figure style="width:100%">
                    <img src="/images/plano.jpeg"
                         alt="Plano" title="Plano" style="width:100%; height:auto" />
                    <figcaption>Plano, TX</figcaption>
                </figure>
            </div>
            <div class="column">
                <figure style="width:100%">
                    <img src="/images/gracie.jpeg"
                         alt="Gracie" title="Gracie" style="width:100%; height:auto" />
                    <figcaption>My dog, Gracie</figcaption>
                </figure>
            </div>
        </div>

        <p>
            I was born on October 20, 2000, in Plano, TX. I have lived in the same house all my life,
            until I moved to college. I am the youngest sibling, and my older brother is 6 years older than me.
            Growing up, I had many different friend groups, and transitioning from elementary to middle and high
            school was difficult for me because I realized the people I was surrounding myself with were not
            very supportive of me or my passions. I also have a dog, Gracie, whom has been part of our family since
            I was 12 years old.
        </p>
        <hr class="hr-danger" />
    </div>

        <div class="container">
            <h3>Education</h3>
            <figure>
                <img class="w-10 h-auto rounded mx-auto d-block" src="/images/utaustin.jpeg"
                     alt="UT" title="UT" width="500" height="500" />
                <figcaption>UT Austin</figcaption>
            </figure>
            <p>
                I went to preschool, elementary, middle, high, and senior high school in Plano. I started studying
                at UT Austin in the Fall of 2019, and majored in Business Administration in the McCombs School of
                Business. I initially declared a Finance Major, but transferred over to MIS once I realized I was more
                interested in the technical side of business operations. I am also working towards receiving my
                Elements of Conputing Certificate. I am very interested in software development, data analytics, graphic
                design, and many other areas of technology. I plan to graduate in May, 2023, and currently have no plans
                of attending graduate school.
            </p>
            <hr class="hr-danger" />
        </div>

        <div class="container">
            <h3>Hobbies</h3>

            <div class="row">
                <div class="column">
                    <figure style="width:100%">
                        <img src="/images/bench.jpeg"
                             alt="Bench" title="Bench" style="width:100%; height:auto" />
                        <figcaption>Working out</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure style="width:100%">
                        <img src="/images/skateboard.jpeg"
                             alt="Skateboarding" title="Skateboarding" style="width:100%; height:auto" />
                        <figcaption>Skateboarding</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure style="width:100%">
                        <img src="/images/smash.webp"
                             alt="Smash" title="Smash" style="width:100%; height:auto" />
                        <figcaption>Gaming </figcaption>
                    </figure>
                </div>
            </div>
        </div>



</body>

</html>
