<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <div class="text-center">
        <br />
        <h2>Welcome to my home page!</h2>
        <p>Hi! My name is Darren Huang, and I am a third-year MIS major pursuing an Elements of Computing Certificate at the University of Texas at Austin. </p>
        <hr class="hr-danger" />
    </div>

    <div class="align-self-sm-center">
        <figure>
            <img class="w-10 h-auto rounded mx-auto d-block" src="/images/me.jpeg"
                 alt="Darren Huang" title="Darren Huang" width="500" height="500" />
        </figure>
        <hr class="hr-danger" />
    </div>

    <div class="container text-center">
        <h3>My Favorite Inspirational Video</h3>
        <p>
            Arnold Schwartzenegger describes his journey from a war-stricken Austria to becoming
            international movie superstar, champion bodybuilder, governor of California, philanthropist,
            and activist. This speech has influenced me in many ways over the past year, inspiring me to
            work out, improve my grades, pursue my passions, and put my full effort in everything I do.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/u_ktRTWMX3M"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>

</html>
