<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <div class="text-center">
        <br />
        <h2>Music</h2>
        <p>Some of the songs, artists, and genres I enjoy listening to.</p>
        <hr class="hr-danger" />
    </div>

    <div>
        <h3>Genres and Artists</h3>
        <div class="container">
            <h4>EDM</h4>
            <p>
                I have enjoyed listening to Electronic Dance Music since I was in middle school.
                Ever since my brother introduced me to popular artists such as Illenium, Said The Sky,
                and MitiS, I have found myself listening to more and more EDM songs, especially during
                workouts or when hanging out with friends.
            </p>
            <div class="btn-group-lg text-center">
                <h5>Some of my favorite EDM artists are:</h5>
                <div class="row row-cols-1 row-cols-md-3 justify-content-md-center">
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Illenium</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li><a href="https://open.spotify.com/track/02oT3HvcsXD64VwOBtH8yM?si=fa4dbce623bc46b2">Hearts on Fire</a></li>
                                    <li><a href="https://open.spotify.com/track/4pWawf1Rq4qHDv4Ktqjg2D?si=b42c67d78bae4c6f">Beautiful Creatures</a></li>
                                    <li><a href="https://open.spotify.com/track/4ZAerT2NicBmzZ4VkpmWEn?si=478fd567ab684d29">Freefall</a></li>
                                    <li><a href="https://open.spotify.com/track/06kxa3al7bUqRRo5nAFduZ?si=17e8c42120c24890">Nightlight</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Said The Sky</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li><a href="https://open.spotify.com/track/1DxEbPu9z1SVGh7dXMuzS9?si=61c20b3e1ca84327">Superstar</a></li>
                                    <li><a href="https://open.spotify.com/track/2uoWHninMACac1KBFn8rXQ?si=e669c6cf9bed49d9">Show and Tell</a></li>
                                    <li><a href="https://open.spotify.com/track/4GR9MdPIvrkxcEJ4RUbxPk?si=1be79aae7e7b4221">Atoms - Said the Sky Remix</a></li>
                                    <li><a href="https://open.spotify.com/track/1TbtdFSGDB7tREDarNlUne?si=8ad6c257ea954c3a">Hero</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>MitiS</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li><a href="https://open.spotify.com/track/4x7mldT9B1lHeOFqjZSdLf?si=7606c5f413ef4367">Alive - MitiS Remix</a></li>
                                    <li><a href="https://open.spotify.com/track/22szgJ9WufVHgefSgOD6Dv?si=b7878a45f57c42b3">Cold Skin - MitiS Remix</a></li>
                                    <li><a href="https://open.spotify.com/track/4mj0eDXQaPjTIub0CI9dpW?si=c3c38b2e7b994e3f">Moments</a></li>
                                    <li><a href="https://open.spotify.com/track/25JmQ3qFQkhbLZMJpdftO9?si=bbebe4c37ab1435f">By My side</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="hr-danger" />
        </div>

        <div class="container">
            <h4>Lo-Fi</h4>
            <p>
                Starting in high school, I started listening to Lo-Fi hip-hop and other Lo-Fi genres
                mainly to study and do homework, and I gained a love for its smooth, slow beats and chill vibes.
                Now, I listen to this genre of music not only for schoolwork, but whenever I am feeling relaxed
                or want to sit down with a cold drink after a long day.
            </p>
            <div class="btn-group-lg text-center">
                <h5>Some of my favorite Lo-Fi playlists on spotify are:</h5>
                <div class="row row-cols-1 row-cols-md-3 justify-content-md-center">
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Chilled Cow - Lofi Girl</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li><a href="https://open.spotify.com/track/4VQNQcVJVTJOAamIe5WJzL?si=defe23a325d54c6e">If You Knew</a></li>
                                    <li><a href="https://open.spotify.com/track/7Ln9BSFuKrj6yNDipVfrMs?si=5647df580b4a4889">Maybe We're Still Sleeping</a></li>
                                    <li><a href="https://open.spotify.com/track/3vGiTQwW32HjVivTtZdd4x?si=c0f2dc00c182401d">Runaway</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Anime Lofi Playlist</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li><a href="https://open.spotify.com/track/0HWvystXLODG1ddiOBhCNr?si=15549fc5cf1841ee">Crossing Field</a></li>
                                    <li><a href="https://open.spotify.com/track/3VS4gyzB3u88rTx5thdObU?si=9b3ce10d3bac4270">Gurenge</a></li>
                                    <li><a href="https://open.spotify.com/track/5rTSdxA7X6d6HErOgp7M0B?si=1b4856d2efc24d98">The Hero!!</a></li>
                                    <li><a href="https://open.spotify.com/track/3UGbkycvji1lTp1AyRftYb?si=5c18208f69f048de">Spirited Away</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Lofi Fruits Music</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li><a href="https://open.spotify.com/track/14asiE1YNMX0fQ1sAJleHX?si=c4ba7c0124f24b10">A Sky Full of Stars</a></li>
                                    <li><a href="https://open.spotify.com/track/2cZpOtzgDLe32ro8fZGc6X?si=15092ad410e84d52">Jocelyn Flores</a></li>
                                    <li><a href="https://open.spotify.com/track/7dK55fynkFpFoiAB1Qf9ud?si=5ad42946da684611">Leaves From The Vine</a></li>
                                    <li><a href="https://open.spotify.com/track/5W9iDFi8jVlIomU5aOy6m5?si=f2d5dec0982e49a0">River Flows In You</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="hr-danger" />
        </div>

    </div>

    <div class="container">
        <h3>Favorite Artist</h3>
        <p>
            My all-time favorite artist is Juice Wrld. I enjoy listening to his music, watching his
            music videos, and buying his merch.
        </p>
        <figure>
            <img class="w-10 h-auto rounded mx-auto d-block" src="/images/juice.jpeg"
                 alt="Juice Wrld" title="Juice Wrld" width="500" height="500" />
        </figure>

        <p>Some of my favorite songs of his are:
            <a href="https://open.spotify.com/track/6MjNilJCVKJq0LfFvo5jWJ?si=c692e5a5a6804997">Fast</a>,
            <a href="https://open.spotify.com/track/5dOxHHMOFAbG3VH23t0xNm?si=9f2e4f954dcc4a96">Righteous</a>,
            <a href="https://open.spotify.com/track/2U5WueTLIK5WJLD7mvDODv?si=4306498df3b24354">Wishing Well</a>, and
            <a href="https://open.spotify.com/track/1Knctxx9vGZxpZfF66BIEa?si=24fca8d3efc94a0a">Legends</a>.
        </p>
    </div>


</body>

</html>
